@import '~admin-lte/build/scss/AdminLTE.scss';

html, body, .wrapper, .sidebar {
  height: 100%;
  min-height: 100%;
}

.main-header {
  margin-left: 250px !important;
}

.content-wrapper {
  margin-left: 250px !important;
}

@media screen and (max-width: 769px) {
  .main-header {
    margin-left: 0 !important;
  }
  
  .content-wrapper {
    margin-left: 0 !important;
  }
}

.fa-sync-alt.fa-spin {
  position: relative;
}

.fa-sync-alt.fa-spin::before {
  content: "";
  display: block;
  position: relative;
  background-image: url("../assets/loading.svg");
  background-size: contain;
  width: 70px;
  height: 70px;
  animation:  3s infinite;
  animation-name: SpinAnimation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
}

@keyframes SpinAnimation {
  0% { transform: rotateZ(0deg); }
  100% { transform: rotateZ(360deg); }
}

.btn-save {
  position: relative;
}

.btn-save::before {
  content: "Пароли не совпадают";
  position: absolute;
  top: 0;
  left: 100%;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100%;
  margin-left: 20px;
  color: #FFC109;
  border: #FFC109 1px solid;
  border-radius: 0.25rem;
  opacity: 0;
  transition:
    visibility 0.4s ease,
    opacity 0.4s ease;
}

.btn-save.warning::before {
  visibility: visible;
  opacity: 1;
}

.btn-save::after {
  content: "Сохранено";
  position: absolute;
  top: 0;
  left: 100%;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 20px;
  padding: 0 15px;
  color: green;
  border: green 1px solid;
  border-radius: 0.25rem;
  opacity: 0;
  transition: 
    visibility 0.4s ease,
    opacity 0.4s ease;
}

.btn-save.show::after {
  visibility: visible;
  opacity: 1;
}